<h5 class="white-text">Save your TODO</h5>
<p class="grey-text text-lighten-4">
    To save your TODO, simply copy the link below:
    <div class="input-field">
      <input    disabled 
                value="<%= session_url(@app_session) %>" 
                id="save-link" 
                type="text" 
                class="validate">
    </div>
    <% if cookies[:current_app_session_id] != @app_session.id.to_s %>
        <span class="green-text text-lighten-5">
            <i class="tiny material-icons">info_outline</i>
            The current TODO is not your default. Click 
            <a class="blue-text text-accent-2 modal-trigger" href="#confirmModal" ><u>here</u></a> 
            to set it as your default.
        </span>

        <div id="confirmModal" class="modal red lighten-4">
            <div class="modal-content">
                <h4>
                    <i class="small material-icons">warning</i>
                    Warning
                </h4>
                <p>
                    Setting this TODO as your default will overwrite your current default.
                </p>
                <p>
                    Copy your original TODO URL to prevent losing any data!
                </p>
            </div>
            <div class="modal-footer red lighten-3">
                <a href="#!" class=" modal-action modal-close waves-effect waves-light btn-flat">Cancel</a>
                <%= link_to "Replace",
                            setsession_session_path(@app_session),
                            method: :post,
                            class: "modal-action modal-close waves-effect waves-light btn-flat" %>
            </div>
        </div>
    <% end %>
</p>