<nav>
  <div class="nav-wrapper green lighten-1">
    <!-- form targets current page -->
    <%= form_tag nil, method: :get do %>
      <div class="input-field">
        <%= search_field_tag :search_term, nil, value: @search_term%>
        <%= label_tag :search_term, raw("<i class=\"material-icons\">search</i>") %>
        <i class="material-icons">close</i>
      </div>
    <% end %>
  </div>
</nav>
