<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <%= render 'sessions/save_bar' %>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Github</h5>
            <p class="grey-text text-lighten-4">
                Visit us on Github!
            </p>
            <iframe src="https://ghbtns.com/github-btn.html?user=yichenshen&repo=chimney&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
        </div>
    </div>
</div>
<div class="footer-copyright green darken-1	">
	<div class="container">
        © 2016 Copyright Yichen
    </div>
</div>