<nav class="green lighten-1">
	<div class="nav-wrapper">
		<%= link_to raw('Chimney'), session_path(@app_session) , class: "brand-logo center"%>
    <ul class="left">
      <li>
        <a href="#" data-activates="slide-out" class="menu-btn"><i class="material-icons">menu</i></a>
      </li>
		</ul>
		<ul class="right">
      <li>
        <%= link_to raw("<i class=\"material-icons\">note_add</i>"), new_session_errand_path(@app_session) %>
      </li>
		</ul>

    <%= render 'shared/sidebar' %>

	</div>
</nav>
