// Place all the styles related to the errands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "materialize";
.collapsible.flatten.borderless{
	box-shadow: none;
	border: none;
}

.collapsible-header.borderless{
	border: none;
}

.collapsible-body.borderless{
	border: none;
}

ul li .less-padding{
	padding-bottom: 10px;
	padding-top: 10px;
}

.collapsible.collection{
	.collection-item.avatar.active.green-back{
		@extend .black-text, .green.lighten-4;

		.collapsible-header{
			@extend .green.lighten-5;
		}
	}

	.collection-item.avatar.active.red-back{
		@extend .black-text, .red.lighten-4;

		.collapsible-header{
			@extend .red.lighten-5;
		}
	}

	.collection-item.avatar.active.orange-back{
		@extend .black-text, .orange.lighten-4;

		.collapsible-header{
			@extend .orange.lighten-5;
		}
	}

	.collection-item.avatar.active.grey-back{
		@extend .black-text, .grey.lighten-2;

		.collapsible-header{
			@extend .grey.lighten-4;
		}
	}

	.collapsible-header{
		border: none;
	}

	.collapsible-body{
		border: none;
	}

}

.icon-chip{
	@extend .chip;

	i.material-icons{
		float: left;
		padding-left: 0px;
		padding-right: 2px;
	}
}