// Place all the styles related to the errands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


form .flatten{
	box-shadow: none;
}

form .borderless{
	border: none;
}

form ul li .less-padding{
	padding-bottom: 10px;
	padding-top: 10px;
}
